<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="nightOwl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="nightOwl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="PictureFormat" value=".bmp" />
    <add key="HaarCascadeVScale" value="0.4" />
    <add key="HaarCascadeHScale" value="0.4" />
    <add key="HaarCascadeScaleFactor" value="1.1" />
    <add key="HaarCascadeMinNeighbors" value="10" />
    <add key="HaarCascadeMinSize" value="20" />
    <add key="FrameWidth" value="320" />
    <add key="FrameHeight" value="240" />
    <add key="FacePicWidth" value="100" />
    <add key="FacePicHeight" value="100" />
    <add key="RecognizerThreshold" value="6000" />
    <add key="RecognizerComponentsNum" value="80" />
    <add key="VideoSelectingTitle" value="Open file" />
    <add key="BrowserFilterVideo" value="Video Files (*.mp4, *.flv, *.avim, *.mov| *.mp4;*.flv;*.avi;*.mov" />
    <add key="DataFolderPath" value="\\Data\\" />
    <add key="PersonsFileName" value="Persons.json" />
    <add key="RecognizerFilePath" value="recognizer.yaml" />
    <add key="ImagesFolderPath" value="Pictures\\" />
    <add key="FaceInformationFilePath" value="haarcascade_frontalface_default.xml" />
    <add key="BrowserFilterPhoto" value="Image Files (*.bmp, *.jpg| *.bmp;*.jpg" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.109.0" newVersion="1.0.109.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <nightOwl.Properties.Settings>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>1685, 838</value>
      </setting>
      <setting name="DataFolder" serializeAs="String">
        <value>\Data</value>
      </setting>
      <setting name="PersonsFile" serializeAs="String">
        <value>\Persons.json</value>
      </setting>
    </nightOwl.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <nightOwl.Properties.Settings>
      <setting name="DataFolderPath" serializeAs="String">
        <value>\Data\</value>
      </setting>
      <setting name="PersonsFileName" serializeAs="String">
        <value>Persons.json</value>
      </setting>
      <setting name="RecognizerFilePath" serializeAs="String">
        <value>recognizer.yaml</value>
      </setting>
      <setting name="ImagesFolderPath" serializeAs="String">
        <value>Pictures\</value>
      </setting>
      <setting name="FaceInformationFilePath" serializeAs="String">
        <value>haarcascade_frontalface_default.xml</value>
      </setting>
      <setting name="BrowserFilterPhoto" serializeAs="String">
        <value>Image Files (*.bmp, *.jpg| *.bmp;*.jpg</value>
      </setting>
      <setting name="UsersFileName" serializeAs="String">
        <value>\Users.json</value>
      </setting>
    </nightOwl.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>