<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="MessageBoxClosingBtnText" value="Close"/>
      <add key="SystemErrorMessage" value="System error. Please contact administrator."/>
      <add key="SystemErrorTitle" value="Error"/>

      <add key="InvalidDataTitle" value="Invalid input"/>
      <add key="NotValidLoginInfoError" value="Username or password is invalid."/>

      <add key="DataServiceAPIUrl" value="https://nightowlwebservice.azurewebsites.net/api/"/>
      <add key="RecognizerServiceAPIUrl" value="https://nightowlpersonrecognitionservice.azurewebsites.net/api/"/>
      
      <add key="UsersAPIUrl" value="Users/"/>
      <add key="PersonsAPIUrl" value="Persons/"/>
      <add key="FacesAPIUrl" value="Faces/"/>

      <add key="RegisterUserAPI" value="Register/"/>
      <add key="LoginUserAPI" value="Login/"/>
      <add key="GetUserByUsernameAPI" value="GetUserByName/"/>

      <add key="AddNewPersonAPI" value="Post/"/>
      <add key="GetPersonAPI" value="Get/"/>
      <add key="GetPersonByCreatorAPI" value="GetByCreatorId/"/>

      <add key="RecognizeFaceAPI" value="Recognize/"/>
      <add key="TrainFaceAPI" value="Train/"/>
      <add key="DetectFaceAPI" value="Detect/"/>
    

    </appSettings>
</configuration>