<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="MessageBoxClosingBtnText" value="Close"/>
      <add key="SystemErrorMessage" value="System error. Please contact administrator."/>
      <add key="SystemErrorTitle" value="Error"/>

      <add key="InvalidDataTitle" value="Invalid input"/>
      <add key="NotValidLoginInfoError" value="Username or password is invalid."/>

      <add key="RegistrationInvalidUserName" value="You need to insert username."/>
      <add key="RegistrationInvalidPassword" value="You need to insert password."/>
      <add key="RegistrationPasswordDontMatch" value="Passwords don't match."/>
      <add key="RegistrationInvalidEmail" value="You need to insert valid email"/>
      <add key="RegistrationInvalidPhoneNr" value="You need to insert phone number"/>
      
      <add key="AddPersonInvalidNoName" value="You need to insert persons name."/>
      <add key="AddPersonInvalidNoPhoto" value="You need to add one or more photos."/>
      <add key="AddPersonSuccessTitle" value="Added"/>
      <add key="AddPersonSuccessText" value="Person was successfull added."/>
      
      <add key="EmailRegexMatch" value="([0-9a-zA-Z]([-\\.\\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\\w]*[0-9a-zA-Z]\\.)+[a-zA-Z]{2,9})$"/>
      
      <add key="RecognizedPersonTitle" value="Recognized persons"/>
      <add key="NotRecognizedPersonTitle" value="No persons recognized"/>
      <add key="NotRecognizedPersonText" value="No recognized persons in the photo"/>
      <add key="SystemErrorNoPermissionForPhot" value="System don't have permission to get pictures."/>

      <add key="RecognizerThreshold" value="4000"/>
      
      <add key="DataServiceAPIUrl" value="https://nightowlwebservice.azurewebsites.net/api/"/>
      <add key="RecognizerServiceAPIUrl" value="https://nightowlpersonrecognitionservice.azurewebsites.net/api/"/>
      
      <add key="UsersAPIUrl" value="Users/"/>
      <add key="PersonsAPIUrl" value="Persons/"/>
      <add key="FacesAPIUrl" value="Faces/"/>
      <add key="PersonHistoryAPIUrl" value="PersonHistory/"/>

      <add key="RegisterUserAPI" value="Register/"/>
      <add key="LoginUserAPI" value="Login/"/>
      <add key="GetUserByUsernameAPI" value="GetUserByName/"/>

      <add key="AddNewPersonAPI" value="Post/"/>
      <add key="GetPersonAPI" value="Get/"/>
      <add key="UpdatePersonAPI" value="Put/"/>
      <add key="DeletePersonAPI" value="Delete/"/>
      <add key="GetPersonByCreatorAPI" value="GetByCreatorId/"/>

      <add key="RecognizeFaceAPI" value="Recognize/"/>
      <add key="TrainFaceAPI" value="Train/"/>
      <add key="DetectFaceAPI" value="Detect/"/>

      <add key="GetHistoryAPI" value="Get/"/>
      <add key="GetHistoryByNameAPI" value="GetByName/"/>
      <add key="AddHistoryAPI" value="Post/"/>

    </appSettings>
</configuration>